In [73]:
import pandas as pd

In [74]:
#load needed rows and columns into dataframe
df = pd.read_csv('concepts.csv', header=None, nrows=10000)
df.dropna(axis='columns', inplace=True, thresh=9999)

In [75]:
#preprocessing, delete extra row
#from itertools import compress
#tf2 = df[df.columns[0]].isna()
#list(compress(range(len(tf2)), tf2))
#print(tf2[3484])
#print(df.iloc[3484])
df.dropna(axis='rows', inplace=True)

In [76]:
df

                                0     1
0                machine learning  5933
1               genetic algorithm  5264
2                  classification  4532
3                   deep learning  4371
4                     data mining  4369
...                           ...   ...
9995  empirical risk minimization    41
9996                global motion    41
9997               retinal images    41
9998     unequal error protection    41
9999           dark channel prior    41

[9999 rows x 2 columns]